@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');

body {
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Montserrat', sans-serif;
}

.container {
    background-image: url('/assets/images/background.jpg');
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    text-align: center;
    color: #fff;
}

h1 {
    margin-top: 0;
}

form {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

label {
    margin: 10px;
}

input {
    padding: 10px;
    border-radius: 5px;
    border: none;
}

button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #3498db;
    color: #fff;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #2980b9;
}

#result {
    margin-top: 20px;
    font-size: 24px;
    font-weight: bold;
}

@media screen and (max-width: 600px) {
    .container {
        max-width: 100%;
    }

    form {
        flex-direction: column;
    }
}